@font-face {
    font-family: "leoHand";
    src: url("../assets/fonts/leoHand.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b0bec5;
}

.App {

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}